.addSection{
    width: 100%;
    height: 95vh;
    background-image: $purple-gradient;
    display: grid;
    place-items: center;
}

.addSection_card{
    background-color: white;
    width: 80%;
    border-radius: 4rem;
    height: 50vh;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0.4rem 0.4rem 0.8rem rgba(0,0,0, 0.6);
}

.addSection_top{
    height: 6rem;
    display: grid;
    place-items: center;
}

.addSection_info{
    position: absolute;
    top: 1.6rem;
    left: 2rem;
    background-color: transparent;
    width: 3rem !important;
    height: 3rem !important;
}

.addSection_info{
    background-image: $color-purple-2 !important;
}

.addSection_title{
    font-family: $header-font;
    color: $color-purple-1;
    font-size: 2.5rem;
    letter-spacing: 0.3rem;

}

.addSection_bottom{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.addSection_inputs{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.addSection_inputContainer{
    position: relative;
    margin: 1rem;

}

.addSection_input{
    border: none;
    outline: none;
    font-size: 1.8rem;
    position: relative;
}

.addSeaction_searchResults{
    width: 100%;
    position: absolute;
    bottom: -13rem;
    height: 13rem;
    z-index: 12;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.addSection_searchResultItem{
    width: 100%;
    height: 4rem;
    padding: .5rem;
    display: flex;
    background-color: $guf-color;
    color: $color-blue;
    align-items: center;
    justify-content: space-between;
}

.addSection_inputBorder{
    position: absolute;
    bottom: 0rem;
    left: 0;
    width: 100%;
    height: .3rem;
    background-color: gray;
}

.addSection_upload{
    margin-top: 2rem;
    display: flex;
    align-items: center;
}

.addSection_uploadText{
    font-size: 1.6rem;
    margin-left: .5rem;
    margin-right: .5rem;
}

.addSection_uploadIcon{
    width: 1.6rem !important;
    height: 1.6rem !important;
}

.addSection_fileName{
    margin-top: 0.3rem;
    font-size: 1.2rem;
    color: gray;
}

