.titleSection {
    width: 100%;
    height: 50vh;
    position: relative;
    overflow: hidden;
    z-index: 3;
    clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 0% 100%);

}

.titleSection_img, .titleSection_background{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.titleSection_background{
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 3;
}

.titleSection_mainTitle, .titleSection_subtitle {
    left: 50%;
    position: absolute;
    font-family: $header-font;
    color: white;
    transition: all 0.7s;
    transform: translate(-50%, -50%);
}

.titleSection_mainTitle{
    top: 30%;
    font-size: 3rem;
    letter-spacing: 0.25rem;
    width: 100%;
    animation: moveInRight 2s;
}

.titleSection_subtitle{
    top: 43%;
    width: 100%;
    font-size: 2rem;
    animation: moveInLeft 2s;
}

