.musicPlayer{

}

.musicPlayerTitleSection{
    width: 100%;
    height: 88vh;
     background-repeat: no-repeat;
     background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.musicPlayerBackButton{
    z-index: 6;
    position: absolute;
    top: 2rem;
    left: 2rem;
    color: white !important;
    width: 2rem !important;
    height: 2rem !important;
}

.musicPlayerSongImage{
    width: 24rem;
    height: 24rem;
}

.musicPlayerTitleSongInfo{
    margin-top: 4rem;
}

.musicPlayerTitleSongName{
    color: white;
    margin-bottom: .5rem;
    font-size: 2rem;
}

.musicPlayerTitleArtistName{
    color: rgb(150, 150, 150);
    font-size: 1.4rem;
}

.musicPlayerProgressBarContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15%;
}

.musicPlayerProgressBarText{
    color: white;
    padding: .5rem;
    font-size: 1.2rem;
}

.musicPlayerProgressBar{
    width: 60vw;
    height: .8rem;
    border-radius: 100rem;
    background-size: 300%;
    background-image: linear-gradient(-110deg, $color-blue 50%,rgb(70,70,70) 50% );
}
