.playlist{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.playlistbackground{
    height: 100vh;
    width: 100%;
    position: absolute;
    background-size: 100% 100%;
    transform: rotateX(180deg);
    background-repeat: no-repeat;
    z-index: 1;
}

.playlistWaves{
    transform: rotateX(180deg);
    color: white !important;
}

.playlistTop{
    flex: 1;
    z-index: 2;
    display: flex;
}

.playlistTopLeft{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.playlistTitle{
    color: white;
    font-size: 3.5rem;
    font-family: $regular-font;
    letter-spacing: .3rem;
    margin-left: 2rem;

}

.playlistTopRight{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.playlistFavoriteButton{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    border: 1px solid #aaa;
    background-color: white;
    // box-shadow: 0rem 0rem 1rem 0.2rem #FFFFFF;
    margin-left: 7rem;
}

.playlistFavoriteButtonIcon {
    color:red !important;
    width: 3rem !important;
    height: 3rem !important;
}

.playlistMiddle{
    flex: 1;
    z-index: 2;
    display: flex;
    align-items: flex-end;
}

.playlistBottom{
    z-index: 2;
    flex: 5;
    background-color: #fcfcfc;
    width: 100%; 
    overflow-y: scroll;
}

.playlistItem{
    display: flex;
    align-items: center;
    width: 100%;
    height: 7rem;
    position: relative;
    transition: all 1s ease-out;

    &Active {
        background-color: violet;
    }

    &TrashButton {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        border: 1px solid #aaa;
        background-color: transparent;
        margin-left: 2rem;
        font-family: 'Nunito', sans-serif !important;
    }

    &Info {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 3rem;
        

    }

    &Artist {
        color: gray;
        font-family: 'Nunito', sans-serif;
        font-size:  1.4rem;
        
    }

    &SongName {
        font-family: 'Nunito', sans-serif;
        font-size: 1.8rem;

    }

    &Duration {
        font-size: 1.2rem;
        font-family: 'Nunito', sans-serif !important;
    }

    &MoreIcon {
        font-size: 1.8rem !important;
        color: gray !important;
        margin-right: 0.7rem;
        margin-left: 0.5rem;
        z-index: 901;
    }

    &Popup {
        position: absolute;
        padding: 1rem;
        border-radius: 0.4rem;
        right: 0;
        background-color: white;
        bottom: -1.5rem;
        box-shadow: 0.1rem 0.1rem 0.2rem 0.1rem rgba(0, 0, 0, 0.2);
        z-index: 5;


        &Option{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }   

        &Text{
            margin-right: 0.4rem;
            font-size: 1.2rem;

        }

        &Icon {
            font-size: 1.6rem !important;

        }

    }
}

.playlistDeadArea{
    width: 100%;
    height: 12vh;
}