@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Changa+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap');

// Dominate Color
$color-black: #000;
$color-black-2: #212121;
$color-dark-gray: #323232;

// COLORS
$color-secondary-light: #A8A35D;
$color-secondary-dark: #ff7730;

$color-green-dark: #1DB954;

$color-purple-1: #6F5BA7;
$color-purple-2: #E0B6CA;

$color-blue-light:  #6cdbeb;
$color-blue: #b3d9ff;
$color-blue-dark: #5643fa;

$guf-color: #03396c;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;

// Second Color

// Third Color

// font
$regular-font: "Poppins", sans-serif;
$header-font: 'Changa One', cursive;


// linear gradients
$purple-gradient: linear-gradient(to right bottom, $color-purple-1, $color-purple-2 95%);
$gray-gradient: linear-gradient(to bottom, rgb(51,56,61), rgb(20,22,27))