@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Changa+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Changa+One&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

.singup {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("image/singup-background.jpg");
}

.singup_top {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  display: -ms-grid;
  display: grid;
  place-items: center;
}
.singup_top_image {
  width: 70%;
  height: 70%;
}

#singup_button_back {
  width: 2.5rem !important;
  height: 2.5rem !important;
  color: white;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  z-index: 3;
}

.singup_bottom {
  background-color: white;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  position: relative;
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  height: 100%;
  overflow: hidden;
}

.singup_card_one,
.singup_card_two {
  width: 100%;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  position: absolute;
  bottom: 0;
  -webkit-box-shadow: 0 -0.5rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 -0.5rem 2rem rgba(0, 0, 0, 0.2);
  background-color: #f1f1ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.singup_card_one {
  height: 100%;
  z-index: 2;
}

.singup_title_part {
  width: 100%;
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.5rem;
  font-weight: 700;
}

.singup_card_two {
  width: 100%;
  height: 85%;
  z-index: 3;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.singup_form {
  height: 80%;
  margin-top: 1rem;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.singup_input_part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 35%;
  margin-top: 25%;
}

.singup_input {
  background-color: #b3d9ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border-radius: 10rem;
  padding: 0.7rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.singup_input .MuiSvgIcon-root {
  width: 2rem;
  height: 2rem;
  margin-left: 0.5rem;
}

.singup_input_field {
  border: none;
  background-color: inherit;
  margin-left: 1rem;
  font-size: 1.8rem;
  width: 80%;
  outline: none;
}

.singup_already_user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
  font-size: 1.6rem;
}

.singup_already_user_bold {
  color: #b3d9ff;
  text-decoration: none;
  margin-left: 0.5rem;
  margin-bottom: 2rem;
}

.singup_submit_button {
  border: none;
  background-color: #b3d9ff;
  border-radius: 10rem;
  padding: 0.5rem 1rem;
  font-size: 1.6rem;
}

.singup_logo_circle {
  border: 0.6rem solid white;
  border-radius: 50%;
  width: 14rem;
  height: 14rem;
  position: absolute;
  top: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-image: -webkit-gradient(linear, left bottom, right top, from(rgba(179, 217, 255, 0.7)), to(rgba(108, 219, 235, 0.4)));
  background-image: linear-gradient(to right top, rgba(179, 217, 255, 0.7), rgba(108, 219, 235, 0.4));
  -webkit-backdrop-filter: blur(0.5rem);
          backdrop-filter: blur(0.5rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

.singup_logo_circle_img {
  width: 7rem;
  height: 10.5rem;
}

.spotLogin {
  width: 100%;
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#b3d9ff), to(#6cdbeb));
  background-image: linear-gradient(to right bottom, #b3d9ff, #6cdbeb);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.spotLogin_main {
  width: 75%;
  height: 60vh;
  background-image: -webkit-gradient(linear, left bottom, right top, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.3)));
  background-image: linear-gradient(to right top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  border-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  z-index: 2;
}

.spotLogin_title {
  width: 90%;
  height: 4rem;
  font-size: 2.2rem;
  margin-top: 1.5rem;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 3;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-backdrop-filter: blur(0.2rem);
          backdrop-filter: blur(0.2rem);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

.spotLogin_top, .spotLogin_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.spotLogin_logo {
  width: 75%;
  height: 15rem;
  margin-top: 4rem;
}

.spotLogin_button {
  width: 75%;
  height: 3rem;
  font-size: 2rem;
  border: none;
  border-radius: 0.6rem;
  background-color: #1DB954;
  margin-bottom: 2rem;
  -webkit-backdrop-filter: blur(0.3rem);
          backdrop-filter: blur(0.3rem);
  text-decoration: none;
  color: black;
}

.topbar {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: black;
  height: 5rem;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topbar_left, .topbar_middle, .topbar_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.topbar_left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.topbar_logout_button {
  border: none;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
  border-radius: 0.4rem;
  font-family: "Poppins", sans-serif;
  background-color: white;
}

.topbar_middle {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.topbar_title {
  font-family: "Changa One", cursive;
  font-size: 2.5rem;
  letter-spacing: 0.25rem;
}

.topbar_left_circle {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 0.3rem solid white;
  margin-right: 0.2rem;
}

.topbar_logo {
  width: 50%;
  height: 75%;
}

.topbar_right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.topbar_user_image {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-size: cover;
  margin-left: 1rem;
}