.singup {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("image/singup-background.jpg");
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-color: #131313;
}

.singup_top {
  flex: 3;
  display: grid;
  place-items: center;

  &_image {
    width: 70%;
    height: 70%;
  }
}

#singup_button_back {
  width: 2.5rem !important;
  height: 2.5rem !important;
  color: white;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  z-index: 3;
}

.singup_bottom {
  background-color: white;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  position: relative;
  flex: 5;
  height: 100%;
  overflow: hidden;
}

.singup_card_one,
.singup_card_two {
  width: 100%;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  position: absolute;
  bottom: 0;
  box-shadow: 0 -0.5rem 2rem rgba(0, 0, 0, 0.2);
  background-color: #f1f1ff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.singup_card_one {
  height: 100%;
  z-index: 2;
}

.singup_title_part {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-weight: 700;
}

.singup_card_two {
  width: 100%;
  height: 85%;
  z-index: 3;
  transition: all 1s;

}

.singup_form {
  height: 80%;
  margin-top: 1rem;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.singup_input_part {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 35%;
  margin-top: 25%;
}

.singup_input {
  background-color: $color-blue;
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 10rem;
  padding: 0.7rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.singup_input .MuiSvgIcon-root {
  width: 2rem;
  height: 2rem;
  margin-left: 0.5rem;
}

.singup_input_field {
  border: none;
  background-color: inherit;
  margin-left: 1rem;
  font-size: 1.8rem;
  width: 80%;
  outline: none;
}

.singup_already_user {
  display: flex;
  color: black;
  font-size: 1.6rem;
}

.singup_already_user_bold {
  color: $color-blue;
  text-decoration: none;
  margin-left: 0.5rem;
}

.singup_submit_button {
  border: none;
  background-color: $color-blue;
  border-radius: 10rem;
  padding: 0.5rem 1rem;
  font-size: 1.6rem;
}

.singup_logo_circle{
  border: 0.7rem solid white;
  border-radius: 50%;
  width: 14rem;
  height: 14rem;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba($color-blue, 0.4);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.singup_logo_circle_img{
  width: 7rem;
  height: 10.5rem;
}
